/* General Styles */
* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: #323232;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  text-shadow: 0 0 15px #000;
  color: white;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.header {
  overflow: hidden;
  background-color: #637992;
  padding: 5px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 50px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.header a.active {
  color: black;
}

.header-right {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  float: right;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 18px auto;
  background-color: #444;
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.container {
  padding: 0 16px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px 0;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.img1 {
  background: url(../img/madHatter.jpg) no-repeat center center;
  min-height: 60vh;
  background-size: cover;
  position: relative;
  opacity: 0.85;
}

.content {
  padding: 20px;
  background-color: #323232;
  overflow: hidden; /* Makes sure content doesn't overflow */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text {
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.column {
  flex: 1;
  padding: 0 8px;
  box-sizing: border-box;
}

.column:first-child {
  display: flex;
  justify-content: center;
}

.column:nth-child(2) {
  padding-left: 50px;
  padding-right: 50px;
}

/* insert footer below*/
.footer-container {
  background-color: black;
  padding: 64px 0 64px 0;
}

.footer {
  width: 80%;
  height: auto;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.footer a:hover {
  background-color: #ddd;
  color: black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.footer-heading-first, .footer-heading-second {
  display: flex;
  flex-direction: column;
  margin-right: 64px;
  line-height: 180%;
}

.footer-heading-third {
  display: flex;
  flex-direction: column;
  line-height: 180%;
}

.footer-heading-first h2, .footer-heading-second h2, .footer-heading-third h2 {
  margin-bottom: 32px;
}

.footer-heading-first a, .footer-heading-second a, .footer-heading-third a {
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
}

#linkBlock {
  text-align: center;
}

#aboutTitleID {
  color: gray;
}

.link {
  text-decoration: none;
  color: rgb(128, 128, 128);
  overflow-wrap: break-word;
  text-align: center;
}

.footer .fa-instagram { color: #c1558b; }
.footer .fa-envelope { color: #ffffff; }
.footer .fa-linkedin-square { color: #0077B5; }
.footer .fa-github { color: #ffffff; }
.footer .fa-twitter { color: #1da1f2; }

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

  .footer-heading-first, .footer-heading-second {
    margin-right: 20px;
  }

  .heading {
    font-size: 150%;
  }

  .img1 {
    background: url(../img/madHatter.jpg) no-repeat right center;
    min-height: 60vh;
    background-size: cover;
    position: relative;
    opacity: 0.85;
  }

  
}

@media screen and (max-width: 425px) {
  .column {
    flex: 1 0 100%;
    padding: 0;
  }
}

@media screen and (max-width: 375px) {
  .footer-heading-second {
    margin-left: 10px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 320px) {
  .footer-heading-first {
    margin-right: 10px;
  }
  .footer-heading-second {
    margin-right: 0px;
  }
}